<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ShowAllDrives" value="False" />
    <add key="UseBinaryString" value="True" />
    <add key="CharLimit" value="39" />
    <add key="TruncateMenuGDI" value="True" />
    <add key="Debug" value="False" />
  </appSettings>
</configuration>